/*Body*/

body {
	font-family: "Trebuchet MS";
	height: 100%;
}

#content-container {
	padding-top: 20px;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	color: #1E266B;
	min-height: 100%;
	padding-bottom: 50px;
}

#content-container:after {
	content: "";
	display: block;
}

#content-container a {
	text-decoration: none;
	color: rgba(89, 173, 235, 1);
}

#content-container a:hover {
	color: #1E266B;
}

tr:not(.nohover):hover {
	cursor: pointer;
}

td:not(.nohover):hover {
	cursor: pointer;
}
tr:not(.nohover):hover {
    background-color: #DAE9FF;
}

/* Scrollbox */
div.scroll {
	width: 50%;
	height: 200px;
	overflow: scroll;
}

/* Footer */

#footer {
	color: #1E266B;
	width: 90%;
	position: absolute;
	bottom: 0;
	height: 50px;
	text-align: right;
	margin-right: 10%;
}

/* Archive */
/*div.left-box {
	display: inline-block;
	float: left;
	width: 50%;
}

div.right-box {
	float: left;
	width: 50%;
}*/

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:50px; /* Height of the footer element */
}