/*Body*/

body {
	font-family: "Trebuchet MS";
}

#content-container {
	display: block;
	padding-top: 20px;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	color: #1E266B;
}

#content-container a {
	text-decoration: none;
	color: rgba(89, 173, 235, 1);
}

#content-container a:hover {
	color: #1E266B;
}

tr:hover {
	cursor: pointer;
}

td:hover {
	cursor: pointer;
}
tr:hover {
    background-color: #DAE9FF;
}

/* Scrollbox */
div.scroll {
	width: 50%;
	height: 200px;
	overflow: scroll;
}

/* Footer */
footer {
	float: right;
	margin-top: 30px;
	margin-right: 10%
}

/* Archive */
div.left-box {
	display: inline-block;
	float: left;
	width: 50%;
}

div.right-box {
	float: left;
	width: 50%;
}