@header-height: 100px;
@header-component-color: #59ADEB;
@header-background-color: #1E266B;
@header-link-hover-color: #FFFFFF;
@header-right-font-size: 18px;
@header-img-size: @header-height * 0.8;

header div {
	background-color: @header-background-color;
	color: @header-component-color;
	font-family: "Trebuchet MS";
	height: @header-height;
}

header a {
	color: @header-component-color;
	text-decoration: none;

	-webkit-transition: 500ms ease;
	-moz-transition: 500ms ease;
	-ms-transition: 500ms ease;
	-o-transition: 500ms ease;
	transition: 500ms ease;
}

header a:hover{
	color: @header-link-hover-color;
}

header a img {
	height: @header-img-size;
	width: @header-img-size;
	position: absolute;
	margin-left: 240px;

	-webkit-transition: 500ms ease;
	-moz-transition: 500ms ease;
	-o-transition: 500ms ease;
	transition: 500ms ease;
}

header a:hover img.top-img {
	opacity: 0;
}

header a h2 {
	margin: 0;
	padding-left: 15px;
	padding-top: 5px;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 10%;
	bottom: 10%;
	font-size: @header-height * 0.4;
	font-weight: bold;

}

header a.logo {
    top: @header-height * 0.1;
    height: @header-height * 0.8;
    width: 50%;
    bottom: @header-height * 0.1;;
    position: absolute;
}

.header-right{
	padding-top: (@header-height - @header-right-font-size - 2px) / 2;
	font-size: @header-right-font-size;
	letter-spacing: 1px;
}
