{% extends "base.html"%}

{% load staticfiles %}

{% block extrahead %}

<script type="text/javascript" src="{% static "live.js" %}"></script>

<!-- load less files -->
<link rel="stylesheet/less" type="text/css" href={% static "archive_match.less" %} />
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

<link rel="stylesheet" type="text/css" href={% static "jquery-ui-1.11.4.custom/jquery-ui.min.css" %}>
<link rel="stylesheet" type="text/css" href={% static "jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" %}>
<link rel="stylesheet" type="text/css" href={% static "jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" %}>

<script type="text/javascript" src="{% static "live.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-1.11.4.custom/jquery-ui.min.js" %}"></script>

<!-- load global variables -->
<script>
  var host = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
  var exclusions = [];
</script>

<script>
$(function() {
	$("#liveGraph").tooltip({
		track: true
	});
});
</script>

{% endblock %}
	
{%block content%}
<div>
	<table id="archiveTitle">
		<tr height="120px" class="nohover">
			<!-- home crest -->
			<td width="120px" class="nohover">
				<img src={% static "" %}{{home_crest}} height="75px" width="75px">
			</td>
			
			<!-- home team name -->
			<td align="left" width="200px" class="nohover">
				<h1>{{home}}</h1>
			</td>
			
			<!-- score -->
			<td style="font-size:120%" class="nohover">
				{% if match_data %}
					<h3>{{match_data.score}}</h3>
				{% else %}
					<h3>vs.</h3>
				{% endif %}
			</td>
			
			<!-- away team name -->
			<td align="right" width="200px" class="nohover">
				<h1>{{away}}</h1>
			</td>
			
			<!-- away crest -->
			<td width="120px" class="nohover">
				<img src={% static "" %}{{away_crest}} height="75px" width="75px">
			</td>
		</tr>
	<table>

	{% if match_data %}

	<div id="topTweets">
		<div>
			<h2>Top Tweets</h2>
		</div>
		<div id="tweets"></div>
	</div>
	<div id='liveGraph'></div>
	<script  type="text/javascript">
		var getArchiveUrl = host + "/archives/ws/getArchivedMatch?home={{home}}&away={{away}}&match_ts={{match_ts}}";
		var archiveData = getArchive(getArchiveUrl);
		console.log(archiveData);
		loadGraph(
			"{{home}}",
			"{{away}}",
			countsData=archiveData.counts,
			container="liveGraph",
			match_ts=archiveData.timestamp
			);
		loadArchivedTweets(archiveData.top_tweets);
	</script>

	<div id="topHashtags">
		<div>
			<h2>Top Hashtags</h2>
		</div>
		<div id="topHashtagsText">
			{% for hashtag in match_data.top_hashtags%}
				<div class="hashtagText">#{{hashtag.text}}</div>
			{% endfor %}
		</div>
		<div style="float: right" id="topHashtagsChart"></div>
	</div>
	<script type="text/javascript">
		drawHashtagChart(archiveData.top_hashtags);
	</script>	
	
	{% endif %}
</div>

{% endblock %}
