{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href={% static "main.css" %}>
    <!-- header specific CSS -->
    <link rel="stylesheet" type="text/css" href={% static "header.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "demo.css" %}>

    <script type="text/javascript" src="{% static "d3.v3.js" %}"></script>
    <script type="text/javascript" src="{% static "widgets.js" %}"></script>
    <script type="text/javascript" src="{% static "test.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-2.1.4.min.js" %}"></script>
    <!-- Extra page specific formatting -->
    {% block extrahead%}
    {% endblock %}
  </head>

  <body>
    <header>
      <div class="header-left">
        <a class="logo" href="/home/">
          <span><h2>BPL Tweets</h2></span>
          <img class="bottom-img" src="{% static "bpl_tweets_logo_white.png" %}">
          <img class="top-img" src="{% static "bpl_tweets_logo_dblue.png" %}">
          
        </a>  
      </div>
      <div class="header-right">
        <ul>
          <li><a href="/matches/">Matches</a></li>
          <li><a href="/teams/">Teams</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/archive/">Archive</a></li>
        </ul>
      </div>
    </header>

    <div id="content-container">
      {% block content %}

      {% endblock %}
    </div>

    <footer>
        <p>&copy; BPL Tweets 2015</p>
    </footer>
  </body>

</html>
