{% extends "base.html"%}

{% block extrahead %}
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>$(function() {
    	$( ".date_picker" ).datepicker();
  		});
  </script>

{% endblock %}
	

{%block content%}

<div>
	<h3>
		You're looking at {{club_nm}}'s page.
	</h3>


	{% if not have_dates %}
		<p> Over what date range would you like to analyze data?</p>

		<form method="POST" action=""> {% csrf_token %}
			{{ dates_form.as_p }}
			<input type='submit' value='Submit' class='btn'>
		</form>
	{% endif %}
	

	{% if have_dates%}
		{% if have_data %}
			<p>Here are the most popular Tweets from {{ start_date}} to {{end_date}}:</p>
			<ul>
			{% for t in popular_tweets%}
				<li><a href={{t.1}} target="_blank">{{t.0}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No data available for this time period</p>

		{% endif %}
	{% endif %}

	{% if have_dates %}
		<p> Would you like to change your date range?</p>

		<form method="POST" action=""> {% csrf_token %}
			{{ dates_form.as_p }}
			<input type='submit' value='Submit' class='btn'>
		</form>
	{% endif %}

</div>

{% endblock %}