{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<h2>{{team1Title}} vs. {{team2Title}}</h2>
<div id='wrapper'>
  <div id='leftborder'>
    <div id='left' class='side scrollable'>
      <div id="containerleft" class="tweet"></div>
    </div>
  </div>
  <div id='graph'>
  </div>
  <div id='rightborder'>
    <div id='right' class='side scrollable'>
      <div id="containerright" class="tweet"></div>
    </div>
  </div>
</div>
<div id='bottomwrapper'>
  <div id='bottom' class='scrollable'></div>
  <div id='extender'></div>
</div>

<div id="hidden1" style="display: none;"></div>
<div id="hidden2" style="display: none;"></div>
<div id="hidden3" style="display: none;"></div>

<script type="text/javascript">
  idsFile = "/static/streamer_{{team1}}_{{team2}}_ids.txt";
  usersFile = "/static/streamer_{{team1}}_{{team2}}_users.txt";
  graphFile = "/static/streamer_{{team1}}_{{team2}}.txt";
  $("#hidden1").load(idsFile, function() {
  loadTweets("#hidden1", "containerleft", idsFile, 0);
  });
  $("#hidden2").load(usersFile, function() {
  loadTweets("#hidden2", "containerright", usersFile, 0);
  });
  $("#hidden3").load(graphFile, function() {
  loadGraph("#hidden3", "#bottom", graphFile, 10, 10);
  });
</script>

{% endblock %}

