{% extends "base.html" %}

{% block content %}

	<div>

		<h3>Welcome to bpltweets.com!</h3>

		<p>Here you have the chance to look at the Barclay's Premier League through the lens of Twitter, allowing you to see how the public perception of teams have changed over time. For example, here are the most popular hashtags from the last week:

			{% for h in hashtags%}
			<li>#{{h.0}}: #{{h.1}}</li>
			{% endfor %}

		</p>
		
		<p>To get started, select a team from the dropdown menu in the navigation bar.</p>

	</div>

{% endblock %}