{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href={% static "live.css" %}>
<script type="text/javascript" src="{% static "live.js" %}"></script>

<h2>{{team1Title}} vs. {{team2Title}}</h2>
<div id='top_wrapper'>
	<div id='left_border'>
		<div class='side scrollable'>
			<div id='container_left' class='tweet'></div>
		</div>
	</div>
	<div id='graph'></div>
	<div id='right_border'>
		<div class='side scrollable'>
			<div id="container_right" class="tweet"></div>
		</div>
	</div>
</div>
<div id='bottom_wrapper'>
	<div id='container_bottom' class='scrollable'></div>
	<div class='extender'></div>
</div>

<div id="container_left_loader" style="display: none;"></div>
<div id="container_right_loader" style="display: none;"></div>
<div id="bottom_loader" style="display: none;"></div>

<script type="text/javascript">
	idsFile = "/static/streamer_{{team1}}_{{team2}}_ids.txt";
	usersFile = "/static/streamer_{{team1}}_{{team2}}_users.txt";
	graphFile = "/static/streamer_{{team1}}_{{team2}}.txt";

	$("#container_left_loader").load(idsFile, function() {
		loadTweets(
			"container_left_loader",
			"container_left",
			idsFile,
			0);
	});
	$("#container_right_loader").load(usersFile, function() {
		loadTweets(
			"container_right_loader",
			"container_right",
			usersFile,
			0);
	});
	$("#bottom_loader").load(graphFile, function() {
		loadTweets(
			"container_bottom_loader",
			"container_bottom",
			grpahFile,
			0);
	});
</script>

{% endblock %}
