{% extends "base.html" %}

{% block extrahead %}

{% load staticfiles %}

<!-- load less files -->
<link rel="stylesheet/less" type="text/css" href={% static "live.less" %} />
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

<!-- load global variables -->
<script>
  var host = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
  var exclusions = [];
</script>

{% endblock %}

{% block content %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href={% static "live.css" %}>
<link rel="stylesheet" type="text/css" href={% static "jquery-ui-1.11.4.custom/jquery-ui.min.css" %}>
<link rel="stylesheet" type="text/css" href={% static "jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" %}>
<link rel="stylesheet" type="text/css" href={% static "jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" %}>
<script type="text/javascript" src="{% static "live.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-1.11.4.custom/jquery-ui.min.js" %}"></script>
<script>
$(function() {
	$("#graph").tooltip({
		track: true
	});
});


</script>

<div id='content'>
  <div id='title'>
    <h2>{{team1Title}} vs. {{team2Title}}</h2>
  </div>

  <div id='tweetsAndLiveGraph'>
    <div id='tweets'></div>
    <div id='liveGraph'></div>
  </div>
</div>

<script>
	var liveTweetsUrl = host + '/tweets/ws/liveTweetsCount?home={{team1}}&away={{team2}}&match_ts={{timestamp}}';
	var initCountData = getCounts(liveTweetsUrl);
	loadGraph(
		initCountData,
		"liveGraph",
		liveTweetsUrl,
		15,
		12,
		true
		);
</script>

<script>
	var popularTweetsUrl = host + '/tweets/ws/getPopularTweet';
	var popularTweetsBody = {
		"club" : "{{team1Title}}",
		"match_timestamp" : {{timestamp}},
		"exclusions" : exclusions
	}
	getPopularTweet(popularTweetsUrl, popularTweetsBody);

</script>

{% endblock %}
