{% extends "base.html"%}

{% load staticfiles %}
	
{%block content%}

<script>
function description(state, timestamp) {

	var date = new Date(timestamp * 1000);
	var timeString = date.toLocaleTimeString(
		navigator.language,
		{hour: '2-digit', minute:'2-digit'});
	if (state === '(upcoming)') {
		document.write(timeString + '<br>' + state);
	} else {
		document.write(state + '<br>(' + timeString + ')');
	}
}
</script>

<div>
	{% if matches %}
		{% for date, match_data in matches.items %}
			<h2>{{date}}</h2>
			<table align="center" width="900px" style="border-collapse: collapse;">
			{% for match in match_data %}
				<tr onclick="window.document.location='{{match.dest_url}}';" height="120px">
					<!-- home crest -->
					<td width="120px">
						<img src={% static "" %}{{match.home_crest}} height="75px" width="75px">
					</td>
					
					<!-- home team name -->
					<td align="left" style="font-size:120%">{{match.home}}</td>
					
					<!-- description of match staticfiles -->
					<td style="font-size:90%">
						<script>description('{{match.state}}', {{match.timestamp}})</script>
					</td>
					
					<!-- away team name -->
					<td align="right" style="font-size:120%">{{match.away}}</td>
					
					<!-- away crest -->
					<td width="120px">
						<img src={% static "" %}{{match.away_crest}} height="75px" width="75px">
					</td>
				</tr>
			{% endfor %}
			<table>
		{% endfor %}
	{% endif %}
</div>

{% endblock %}
