{% extends "base.html" %}

<!-- {% block extrahead %}
	
	<style>

	div.scroll {
    width: 100%;
    height: 200px;
    overflow: scroll;
	}


	</style>

{% endblock %} -->


{% block content %}

	<div style="height=40px">
		<h3> The Teams </h3>

		{% if club_names %}
		<div class="scroll">
		<ul>
			{% for club in club_names %}
				<li>
					<a href = "/teams/{{club.0}}/"> {{club.1}}
					</a>

				</li>
			{% endfor %}
		{% else %}
			<p>No clubs available</p>
		</ul>
		</div>
		{% endif %}

	</div>

{% endblock %}