#content-container {
  display: block;
  /*width: 70%;
  margin-left: 15%;
  margin-right: 15%;*/
  padding-top: 20px;
  margin: 0 auto;
  width: 1450px;
  text-align: center;
}
/*===========================================
=============== Scrollbox ===================
=============================================
*/

div.scroll {
    width: 50%;
    height: 200px;
    overflow: scroll;
}

